body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif;
    background-color: #41abe1;
}
@-webkit-keyframes d1 {
    0% {background: #ccc;}
    33% {background: #333;}
    66% {background: #ccc;}
    100% {background: #ccc;}
}
@-moz-keyframes d1 {
    0% {background: #ccc;}
    33% {background: #333;}
    66% {background: #ccc;}
    100% {background: #ccc;}
}
@-ms-keyframes d1 {
    0% {background: #ccc;}
    33% {background: #333;}
    66% {background: #ccc;}
    100% {background: #ccc;}
}
@-webkit-keyframes d2 {
    0% {background: #ccc;}
    33% {background: #ccc;}
    66% {background: #333;}
    100% {background: #ccc;}
}
@-moz-keyframes d2 {
    0% {background: #ccc;}
    33% {background: #ccc;}
    66% {background: #333;}
    100% {background: #ccc;}
}
@-ms-keyframes d2 {
    0% {background: #ccc;}
    33% {background: #ccc;}
    66% {background: #333;}
    100% {background: #ccc;}
}
@-webkit-keyframes d3 {
    0% {background: #ccc;}
    33% {background: #ccc;}
    66% {background: #ccc;}
    100% {background: #333;}
}
@-moz-keyframes d3 {
    0% {background: #ccc;}
    33% {background: #ccc;}
    66% {background: #ccc;}
    100% {background: #333;}
}
@-ms-keyframes d3 {
    0% {background: #ccc;}
    33% {background: #ccc;}
    66% {background: #ccc;}
    100% {background: #333;}
}
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -32px 0px 0px -32px;
}
.loading i {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc;
    margin: 5px;
    padding: 0px;
    display: inline-block;
}
.loading i:nth-child(1){
    -webkit-animation: d1 3s linear 0s infinite;
    -moz-animation: d1 3s linear 0s infinite;
    -ms-animation: d1 3s linear 0s infinite;
}
.loading i:nth-child(2){
    -webkit-animation: d2 3s linear 0s infinite;
    -moz-animation: d2 3s linear 0s infinite;
    -ms-animation: d2 3s linear 0s infinite;
}
.loading i:nth-child(3){
    -webkit-animation: d3 3s linear 0s infinite;
    -moz-animation: d3 3s linear 0s infinite;
    -ms-animation: d3 3s linear 0s infinite;
}
#switchIcon {
    display: inline-block;
    height: 49px;
    width: 49px;
    border-top: solid 1px white;
    border-left: solid 1px white;
    -webkit-transform: rotate(135deg) ;
    -moz-transform: rotate(135deg) ;
    -ms-transform: rotate(135deg) ;
    position: fixed;
    top: 48%;
    right: 39px;
    z-index: 100;
    cursor: pointer;
    opacity: 0.5;
    
}
#switchIcon:hover{
    opacity: 1;
}
#container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.bg {
    position: absolute;
    height: 1050px;
    width: 2000px;
    top: 0px;
    left: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    display: none;
}
.home {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.slogan {
    position: absolute;
    left: 15%;
    top:50%;
    margin-top: -100px;
    width: 765px;
}
.slogan .title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    position: relative;
    /*font-family: 'Gulim', sans-serif;*/
}
.slogan .title .goBack {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    position: absolute;
    bottom: 2px;
    left: 200px;
    padding: 2px 6px;
    border-radius: 3px;
}
.slogan .title .goBack a {
    text-decoration:none;
    color: white;
    font-size:12px;
    line-height:12px;
}
.slogan .en {
    font-size: 70px;
    color: white;
    /*font-family: 'Gulim', sans-serif;*/
    font-style: italic;
}
.slogan .cn {
    color: rgba(255, 255, 255, 0.8);
    font-size: 35px;
    text-align: right;
    /*font-family: '幼圆','Gulim', sans-serif;*/
}
.info {
    position: absolute;
    left: 15%;
    top:50%;
    margin-top: 100px;
    color: white;
    font-size: 16px;
    /*font-family: '幼圆','Gulim', sans-serif;*/
    line-height: 35px;
}
.pages {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 200;
    display: none;
    margin-left: 50px;
}
.pages i {
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background: #ccc;
    margin: 8px;
    padding: 0px;
    display: inline-block;
    cursor: pointer;
}
.before {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    z-index: 20;
    overflow: hidden;
    display: none;
}
.before .content {
    position: absolute;
    height: 100%;
    width: 2300px;
}
.before .content section {
    display: inline-block;
    float: left;
}
.before .content .metro {
    margin-left: 100px;
}
.before .content .metro:nth-child(1) {
    margin-left: 100px;
}
.before .content .list {
    margin-left: 100px;
    margin-top: 100px;
    position: relative;
    color: white;
    /*font-family: 'Microsoft Yahei','Gulim', sans-serif;*/
}
.before .content .head {
    color: rgb(226, 238, 236);
    font-size: 32px;
    font-weight: 100;
    /*font-family: 'Gulim', sans-serif;*/
}
@media only screen and (min-height: 700px) and (max-height: 800px){
    .before .content { margin-top: 40px;}
}
@media only screen and (min-height: 800px) and (max-height: 900px){
    .before .content { margin-top: 100px;}
}
@media only screen and (min-height: 900px){
    .before .content { margin-top: 140px;}
}
.fedayCss .firstTitle {
    text-align: right;
    font-size: 14px;
    /*font-family: 'Gulim', sans-serif;*/
    padding: 80px 15px 0 0;
}
.fedayCss .firstSlogan {
    text-align: right;
    font-size: 26px;
    /*font-family: 'Gulim', sans-serif;*/
    padding: 15px 15px 0 0;
    line-height: 10px;
}
.fedayCss .firstContent {
    text-align: left;
    color: white;
    font-size: 14px;
    /*font-family: 'Microsoft Yahei','Gulim', sans-serif;*/
    padding: 107px 90px 0 30px;
    line-height: 20px;
}
.fedayCss .secondTitle {
    text-align: center;
    line-height: 150px;
    color: #41abe1;
    font-size: 45px;
    /*font-family: 'Microsoft Yahei','Gulim', sans-serif;*/
}
.fedayCss .thirdContent {
    text-align: center;
    line-height: 150px;
    font-size: 45px;
    /*font-family: 'Microsoft Yahei','Gulim', sans-serif;*/
}
.fedayCss .fourthContent {
    text-align: center;
    line-height:150px;
    font-size: 35px;
    /*font-family: 'Microsoft Yahei','Gulim', sans-serif;*/
}
.fedayCss .ninth a {
    text-decoration: none;
}
.fedayCss .ninthTitle {
    text-align: center;
    line-height: 187px;
    color: white;
    font-size: 22px;
    text-align: center;
    /*font-family: 'Microsoft Yahei','Gulim', sans-serif;*/
}
.before .content .list .exp {
    padding: 0px;
    margin: 0px 0px 23px 0px;
}
.before .content .list .author {
    display: inline-block;
    float: left;
}
.before .content .list .author img{
    height: 75px;
    width: 75px;
}
.before .content .list .author p{
    padding: 0px;
    text-align: center;
    font-size: 14px;
    margin: 0px;
}
.before .content .list .intro {
    font-size: 12px;
    line-height: 22px;
    padding-left: 10px;
    display: inline-block;
    float: left;
    width: 450px;
}
.before .content .list .intro .topic{
    font-size: 16px;
}
.before .content .list .intro .cont{
    position: relative;
    padding-left: 45px;
    margin: 5px 0px;
}
.before .content .list .intro .desp{
    position: absolute;
    left: 0px;
    top: 0px;
}
.before .content .list .intro .link a{
    margin-left: 45px;
    text-decoration: none;
    color: #41abe1;
}
.clear {
    clear: both;
}